<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{styles.css}" rel="stylesheet">
</head>

<body>
    <!-- ******* NO BOOTSTRAP *******
    <h1>Welcome to Our Awesome Site!</h1>
    <h3>Subscribe to our List. Sign-up below!</h3>

    <p>Please use the form below to sign up as a subscriber:</p>
    <form action="#" th:action="@{/}" th:object="${subscriber}" method="post">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" th:field="*{firstName}" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{lastName}" /></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{userName}" /></td>
            </tr>
            <tr>
                <td><button type="submit">Submit Your Name</button></td>
            </tr>
        </table>
    </form>
    -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-white">
                <p class="headText welcomeHead">Welcome to Our Awesome Site!</p>
                <p class="headText welcomeSubHead">Subscribe to our List:</p>
                <form action="#" th:action="@{/}" th:object="${subscriber}" method="post">
                    <div class="form-group">
                        <label for="firstNameInput">First Name</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                            placeholder="Enter your first name">
                    </div>
                    <div class="form-group">
                        <label for="lastNameInput">Last Name</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastNameInput"
                            placeholder="Enter your last name">
                    </div>
                    <div class="form-group">
                        <label for="userNameInput">Username</label>
                        <input type="text" th:field="*{userName}" class="form-control" id="userNameInput"
                            placeholder="Enter your last name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>

</html>